.innerHeader {
    padding-top: rem(74);
    padding-bottom: rem(57);

    &--bordered {
        padding-bottom: rem(20);
    }

    &__wrapper {
        padding-bottom: rem(57);
        border-bottom: 1px solid $lighten-gray-3;
    }
}