<div class="ctf__footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 mb-5">
                <div class="ctf__footer__title text-gray">
                    Products
                </div>
                <ul>
                    <li><a href="/">Clean UI Templates Family</a></li>
                    <li><a href="/admin/react/">Clean UI Admin Template</a></li>
                    <li><a href="javascript: void(0);">Clean UI Website Template</a> <span class="ctf__soon">Soon</span></li>
                    <li><a href="http://cleanhtmlplayer.com">Clean UI Media Player</a></li>
                    <li><a href="javascript: void(0);">Clean UI Coming Soon Template</a> <span class="ctf__soon">Soon</span></li>
                    <li><a href="javascript: void(0);">Clean UI Email Template</a> <span class="ctf__soon">Soon</span></li>
                </ul>
            </div>
            <div class="col-lg-8 mb-5">
                <div class="ctf__footer__title">
                    Clean UI Templates Family
                </div>
                <p>
                    Clean UI is a set of modern professional HTML & React based templates. It's a
                    powerful and super flexible tool, which suits best for any kind of web application: Web Sites,
                    Web Applications, Hybrid Apps, CRM, CMS, Admin Panels, etc...
                </p>

                <p>Support: through Envato Market comments or write to <a href="mailto:support@cleanuitemplate.com" class="ctf__footer__underlined">support@cleanuitemplate.com</a></p>
            </div>
        </div>
        <div class="ctf__footer__line"><!-- --></div>
        <div class="row">
            <div class="col-lg-4 mb-5">
                &copy; 2016-2018 <a href="http://mediatec.org" target="_blank" class="ctf__footer__underlined">Mediatec Software, LLC</a>
                <br />
                All rights reserved
            </div>
            <div class="col-lg-8 mb-5">
                Exclusive only at Envato Market place
                <br />
                See Themeforest <a href="https://themeforest.net/licenses/terms/regular" target="_blank" class="ctf__footer__underlined">Standard License</a> & <a href="https://themeforest.net/licenses/terms/extended" target="_blank" class="ctf__footer__underlined">Extended License</a> for licensing
            </div>
        </div>
    </div>
</div>


<script type="text/javascript" > (function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter43604639 = new Ya.Metrika({ id:43604639, clickmap:true, trackLinks:true, accurateTrackBounce:true, webvisor:true, trackHash:true }); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = "https://mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks"); </script> <noscript><div><img src="https://mc.yandex.ru/watch/43604639" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-41062113-6"></script><script>window.dataLayer = window.dataLayer || [];function gtag(){dataLayer.push(arguments);}gtag("js", new Date());gtag("config", "UA-41062113-6");</script>