<div class="ctf__block__title scroll__hire-us">
    <span>Hire Us</span>
</div>
<div class="ctf__hire-us">
    <div class="ctf__block__descr">
        <p>Need in professional Single Page Application or full circle development? Our expert team of designers and developers are ready to transform your business.
            Our manager will contact you within one business day and will discuss with you further steps.</p>
        <p>We work with 50% prepayment and 50% on delivery payment through <a href="https://www.payoneer.com/en" target="_blank" class="ctf__link ctf__link--underlined">Payoneer Payment Service</a>.
            You can easily pay by Credit Card (Visa, Mastercard) or by US Bank Payment (for US customers). </p>
        <p>Fill in the details and let's get in touch.</p>
    </div>
    <div class="ctf__hire-us__inner">
        <div id="loader-backdrop" class="ctf__hire-us__backdrop">
            <div class="ctf__loader"></div>
        </div>
        <form id="hire-us-form" action="" method="post">
            <div class="row mb-3">
                <div class="col-lg-4">
                    <div class="ctf__hire-us__title">
                        READY TO MAKE SOME SOFTWARE MAGIC?
                        <br />
                        THE FIRST STEP IS CONNECTING
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="ctf__hire-us__control">
                        <input type="number" id="numberTypical" name="numberTypical" placeholder="Number of Typical Pages *" maxlength="2" />
                        <span class="btn btn-gradient ctf__hire-us__minus">-</span>
                        <span class="btn btn-gradient ctf__hire-us__plus">+</span>
                    </div>
                    <div class="ctf__hire-us__control">
                        <input type="number" id="numberCustom" name="numberCustom" placeholder="Number of Custom Pages **" maxlength="2" />
                        <span class="btn btn-gradient ctf__hire-us__minus">-</span>
                        <span class="btn btn-gradient ctf__hire-us__plus">+</span>
                    </div>
                    <div class="ctf__hire-us__control">
                        <input type="text" placeholder="First and Last Name" id="userName" name="userName" />
                    </div>
                    <div class="ctf__hire-us__control">
                        <input type="text" placeholder="Email" id="userEmail" name="userEmail" />
                    </div>
                    <div class="ctf__hire-us__control">
                        <input type="text" placeholder="Country" id="userCountry" name="userCountry" />
                    </div>
                    <div class="ctf__hire-us__control ctf__hire-us__control--file">
                        <label class="mb-0">
                            <input type="file" id="attachmentFile" name="attachmentFile" />
                        </label>
                    </div>
                    <div class="ctf__hire-us__control">
                        <textarea type="text" placeholder="Description" id="content" name="content"></textarea>
                    </div>
                    <p class="text-muted">
                        * Typical pages is a simple pages based on pages from our templates (for example, dashboard with a widgets fitted to your requirements);
                        <br />
                        ** Custom pages is a pages created from scratch (for example, custom login page or single page promo website for your app, fully fitted to your requirements);
                        <br />
                        *** All pages will be delivered as fully ready to use Single Page Application
                    </p>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-lg-4">
                    <div class="ctf__hire-us__title">
                        APPROX. PRICE
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="ctf__hire-us__price">
                        $<span id="calc_total">0</span>.00
                        <input type="text" id="formPrice" name="price" style="display: none" />
                    </div>
                </div>
            </div>
            <div class="row mb-4">
                <div class="col-lg-4">
                    <div class="ctf__hire-us__title">
                        APPROX. DELIVERY TIME
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="ctf__hire-us__price">
                        <span id="calc_days">0</span> Business Days
                        <input type="text" id="formDays" name="days" style="display: none" />
                    </div>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-lg-4"></div>
                <div class="col-lg-8">
                    <div id="mail-status"></div>
                    <button type="submit" class="btn btn-gradient btn-shadow ctf__hire-us__send">Send Proposal</button>
                </div>
            </div>
            <div class="ctf__hire-us__image" style="background-image: url(/assets/img/ctf/truck.jpg);"><!-- --></div>
        </form>
        <script>
            $(function() {
                $("#hire-us-form input, #hire-us-form textarea").on('focus', function(){
                    $(this).attr('style', '')
                });

                $("#hire-us-form").on('submit', (function (e) {
                    e.preventDefault();
                    var valid;
                    valid = validateForm();
                    if (valid) {
                        $('#loader-backdrop').show();
                        $.ajax({
                            url: "/mailer/contact.php",
                            type: "POST",
                            data: new FormData(this),
                            contentType: false,
                            cache: false,
                            processData: false,
                            success: function (data) {
                                $("#mail-status").html(data);
                                $('#loader-backdrop').hide();
                            },
                            error: function () {
                            }

                        });
                    };
                }));
            });


            function validateForm() {
                var valid = true;
                $("#mail-status").html('');

                if(!$("#userName").val()) {
                    $("#userName").css('background-color','#f9faec');
                    valid = false;
                }
                if(!$("#userEmail").val()) {
                    $("#userEmail").css('background-color','#f9faec');
                    valid = false;
                }
                if(!$("#userEmail").val().match(/^([\w-\.]+@([\w-]+\.)+[\w-]{2,4})?$/)) {
                    $("#userEmail").css('background-color','#f9faec');
                    valid = false;
                }
                if(!$("#content").val()) {
                    $("#content").css('background-color','#f9faec');
                    valid = false;
                }

                return valid;
            }
        </script>
    </div>
</div>