<div class="ctf__info2 scroll__information">
    <div class="row">
        <div class="col-lg-4 mb-5">
            <div class="ctf__info2__title">
                <div>Visual Builder <span class="ctf__soon">Soon</span></div>
                Drag & Drop Tool
            </div>
            <p class="text-muted">Visual Builder page builder plugin for Clean UI – take full control over
                your interface. Build any layout you can imagine with intuitive drag and drop builder.</p>
        </div>
        <div class="col-lg-4 mb-5">
            <div class="ctf__info2__title">
                <div>Fast & Smooth</div>
                Edge of technology
            </div>
            <p class="text-muted">Given our emphasis on operational efficiency and optimization, we have focused
                heavily on GPU performance with animation to ensure an ultra smooth and fast User Experience.</p>
            </p>
        </div>
        <div class="col-lg-4 mb-5">
            <div class="ctf__info2__title">
                <div>Modular Approach</div>
                BEM-based
            </div>
            <p class="text-muted"><a href="https://en.bem.info/methodology/" class="ctf__link ctf__link--underlined" target="_blank">BEM methodology</a> was invented to develop sites which should be launched fast and
                supported for a long time. It helps to create extendable and reusable interface components.</p>
        </div>
    </div>
</div>