<div class="ctf__info">
    <div class="row">
        <div class="col-lg-4 mb-5">
            <div class="ctf__info__title">
                GREAT CODE,
                <br />
                GREAT COMPANY
            </div>
            <p class="text-muted">
                Many of your company’s ambitious goals demand custom software solutions. Mediatec Software has
                built a company expressly for the purpose of satisfying your application development needs.
            </p>
            <p class="text-muted">
                We began developing User Interfaces in 2007 and have grown and expanded rapidly ever since.
            </p>
        </div>
        <div class="col-lg-8 mb-5">
            <div class="ctf__info__title">
                CUSTOMERS SERVICE
                <br />
                EXPERIENCE
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-6 col-6">
                    <ul class="ctf__info__list">
                        <li>Consulting Services</li>
                        <li>Technological Services</li>
                        <li>Product Services</li>
                        <li>Process Services</li>
                        <li>Technical Program Management</li>
                        <li>Project Recovery Services</li>
                        <li>Market & Product Research</li>
                    </ul>
                </div>
                <div class="col-md-4 col-sm-6 col-6">
                    <ul class="ctf__info__list">
                        <li>Mobile App Development</li>
                        <li>Architecture</li>
                        <li>Big Data & Analytics</li>
                        <li>Dev Ops</li>
                        <li>Quality Assurance</li>
                        <li>Enterprise Product Strategy</li>
                        <li>Product Strategy for Startups</li>
                    </ul>
                </div>
                <div class="col-md-4 col-sm-6 col-6">
                    <ul class="ctf__info__list">
                        <li>UI/UX Design</li>
                        <li>Staff Augmentation</li>
                        <li>Enterprise Software Development</li>
                        <li>Software Maintenance & Support</li>
                        <li>Security</li>
                        <li>Healtchare</li>
                        <li>etc...</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>