<div class="ctf__block__title scroll__market">
    <span>Modules Market <span class="ctf__soon">Soon</span></span>
</div>
<div class="ctf__market">
    <div class="ctf__block__descr">
        <p>Buy one or more modules from an our gallery, and install them to the base template with adding
            two line of code (css and js files). Add module templates to your code as described in documentation.</p>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="ctf__market__item">
                <div class="ctf__market__item__inner">
                    <span class="ctf__market__item__price">$9</span>
                    <span class="ctf__market__item__title">YouTube Module</span>
                    <span class="ctf__market__item__for">Base: Admin Template</span>
                    <span class="ctf__market__item__description">Reproduction of YouTube UI</span>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="ctf__market__item">
                <div class="ctf__market__item__inner">
                    <span class="ctf__market__item__price">$9</span>
                    <span class="ctf__market__item__title">GitHub Module</span>
                    <span class="ctf__market__item__for">Base: Admin Template</span>
                    <span class="ctf__market__item__description">Reproduction of GitHub UI</span>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="ctf__market__item">
                <div class="ctf__market__item__inner">
                    <span class="ctf__market__item__price">$5</span>
                    <span class="ctf__market__item__title">Material Design Module</span>
                    <span class="ctf__market__item__for">Base: Admin Template</span>
                    <span class="ctf__market__item__description">Convert design to Material rules</span>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="ctf__market__item">
                <div class="ctf__market__item__inner">
                    <span class="ctf__market__item__price">$5</span>
                    <span class="ctf__market__item__title">Classic Menu Module</span>
                    <span class="ctf__market__item__for">Base: Admin Template</span>
                    <span class="ctf__market__item__description">Classic horizontal menu</span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="ctf__market__item">
                <div class="ctf__market__item__inner">
                    <span class="ctf__market__item__price">$7</span>
                    <span class="ctf__market__item__title">Search Module</span>
                    <span class="ctf__market__item__for">Base: Admin Template</span>
                    <span class="ctf__market__item__description">Type and search anywhere</span>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="ctf__market__item">
                <div class="ctf__market__item__inner">
                    <span class="ctf__market__item__price">$5</span>
                    <span class="ctf__market__item__title">PacMan Game Module</span>
                    <span class="ctf__market__item__for">Base: Admin Template</span>
                    <span class="ctf__market__item__description">Game for your employees</span>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="ctf__market__item">
                <div class="ctf__market__item__inner">
                    <span class="ctf__market__item__price">$5</span>
                    <span class="ctf__market__item__title">Yolo Design Module</span>
                    <span class="ctf__market__item__for">Base: Admin Template</span>
                    <span class="ctf__market__item__description">Change your mind</span>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="ctf__market__item">
                <div class="ctf__market__item__inner">
                    <span class="ctf__market__item__price">Free</span>
                    <span class="ctf__market__item__title">Developer Kit</span>
                    <span class="ctf__market__item__for">Base: Admin Template</span>
                    <span class="ctf__market__item__description">Create and sell your own Module</span>
                </div>
            </div>
        </div>
    </div>
</div>