<nav class="nav">
    <a class="nav__logo">
        <img src="/assets/img/logos/TF-logo.png" alt="Clean UI templates family logo">
    </a>
    <ul class="nav__list">
        <li class="nav__item">
            <a href="/" class="nav__link">Homepage</a>
        </li>
        <li class="nav__item">
            <a href="/pricing.html" class="nav__link">Pricing</a>
        </li>
        <li class="nav__item nav__item--dropdownToggle">
            <a href="javascript: void(0);" class="nav__link" role="button" id="dropdownMenuLink" aria-haspopup="true">Our products</a>
            <div class="nav__subListWrapper">
                <ul class="nav__subList" aria-labelledby="dropdownMenuLink">
                    <li class="nav__subItem">
                        <a href="/admin/html/" class="nav__subLink nav__subLink--HT">Clean UI HTML Admin Template</a>
                    </li>
                    <li class="nav__subItem">
                        <a href="/admin/react/" class="nav__subLink nav__subLink--RT">Clean UI React Admin Template</a>
                    </li>
                    <li class="nav__subItem">
                        <a class="nav__subLink nav__subLink--VT">
                            Clean UI Vue Admin Template
                            <span class="nav__subLinkBadge badge">Soon</span>
                        </a>
                    </li>
                    <li class="nav__subItem">
                        <a class="nav__subLink nav__subLink--NT">
                            Clean UI Angular Admin Template
                            <span class="nav__subLinkBadge badge">Soon</span>
                        </a>
                    </li>
                    <li class="nav__subItem">
                        <a class="nav__subLink nav__subLink--WT">
                            Clean UI Website Template
                            <span class="nav__subLinkBadge badge">Soon</span>
                        </a>
                    </li>
                </ul>
            </div>
        </li>
        <li class="nav__item">
            <a href="/hire-us.html" class="nav__link">Custom work</a>
        </li>
        <li class="nav__item">
            <a href="javascript: void(0)" class="nav__link">
                Docs
                <span class="nav__subLinkBadge badge">Soon</span>
            </a>
        </li>
    </ul>
    <button class="nav__toggle">
        <span>Open/Close Menu</span>
    </button>
</nav>