<nav class="nav">
    <a class="nav__logo">
        <img src="../../assets/img/logos/TF-logo.png" alt="Clean UI templates family logo">
    </a>
    <ul class="nav__list">
        <li class="nav__item">
            <a href="#" class="nav__link">Homepage</a>
        </li>
        <li class="nav__item">
            <a href="#" class="nav__link">Pricing</a>
        </li>
        <li class="nav__item nav__item--dropdownToggle">
            <a href="#" class="nav__link" role="button" id="dropdownMenuLink" aria-haspopup="true">Our products</a>
            <div class="nav__subListWrapper">
                <ul class="nav__subList" aria-labelledby="dropdownMenuLink">
                    <li class="nav__subItem">
                        <a href="#" class="nav__subLink nav__subLink--htmlIcon">Clean UI Admin Template Html</a>
                    </li>
                    <li class="nav__subItem">
                        <a href="#" class="nav__subLink nav__subLink--reactIcon">Clean UI Admin Template React</a>
                    </li>
                    <li class="nav__subItem">
                        <a class="nav__subLink nav__subLink--vueIcon">
                            Clean UI Admin Template Vue
                            <span class="nav__subLinkBadge badge">Soon</span>
                        </a>
                    </li>
                    <li class="nav__subItem">
                        <a class="nav__subLink nav__subLink--ngIcon">
                            Clean UI Admin Template Ng
                            <span class="nav__subLinkBadge badge">Soon</span>
                        </a>
                    </li>
                    <li class="nav__subItem">
                        <a href="#" class="nav__subLink nav__subLink--wsIcon">Clean UI Website Template</a>
                    </li>
                </ul>
            </div>
        </li>
        <li class="nav__item">
            <a href="#" class="nav__link">Custom work / Hire us</a>
        </li>
        <li class="nav__item">
            <a href="#" class="nav__link">Docs</a>
        </li>
    </ul>
    <button class="nav__toggle">
        <span>Открыть/Закрыть меню</span>
    </button>
</nav>