<section class="offer partition">
    <div class="container-fluid">
        <div class="offer__wrapper partition__wrapper">
            <div class="row">
                <div class="mx-auto col-lg-8 col-md-10">
                    <div class="offer__container">
                        <div class="offer__title partition__title">
                            <h2>Custom Work</h2>
                        </div>
                        <p class="offer__subTitle partition__subTitle">
                            Just use <b>online calculator</b> for cost estimate
                        </p>
                        <div class="offer__content">
                            <p>
                                Need in professional Single Page Application or custom development? Our expert team
                                of designers and developers are ready to transform your business. Our manager will
                                contact you within one business day and will discuss with you further steps.
                            </p>
                            <a href="/hire-us.html" class="offer__button button">Go to calculator</a>
                        </div>
                    </div>
                </div>
            </div>
            <span class="offer__decorIcon offer__decorIcon--1"></span>
            <span class="offer__decorIcon offer__decorIcon--2"></span>
            <span class="offer__decorIcon offer__decorIcon--3"></span>
            <span class="offer__decorIcon offer__decorIcon--4"></span>
            <span class="offer__decorIcon offer__decorIcon--5"></span>
        </div>
    </div>
</section>
