<div class="ctf__products">
    <p class="ctf__block__descr">Browse a comprehensive list of Clean UI products designed to help you develop
        software. We keep developing and innovating, offering a wide range of products and services that help our
        customers and clients achieve their ambitions.</p>
    <div class="row">
        <div class="col-lg-6">
            <div class="ctf__products__item">
                <div class="ctf__products__item__right">
                    <img src="<%= cdnUrl %>/assets/img/ctf/cat-1.png" />
                    <img src="<%= cdnUrl %>/assets/img/ctf/cat-2.png" />
                    <img src="<%= cdnUrl %>/assets/img/ctf/cat-3.png" />
                </div>
                <div class="ctf__products__item__left">
                    <a href="http://admin.cleanuitemplate.com" target="_blank" class="ctf__products__item__link">
                        <img src="<%= cdnUrl %>/assets/img/logos/cat-logo.png" />
                    </a>
                    <div class="ctf__products__item__title">
                        Admin Templates
                        <br />
                        HTML + Angular 2 Version
                    </div>
                    <div class="ctf__products__item__descr">
                        Ultimate multipurpose Admin Template with 7 layouts total, over 1000 Pages,
                        50+ integrated plugins & 500+ UI components, 6 color schemes, mobile ready.
                    </div>
                    <a href="http://admin.cleanuitemplate.com/" target="_blank" class="btn btn-gradient mb-2 mr-2">Details</a>
                    <a href="https://themeforest.net/item/clean-ui-admin-template-modular-trendy-design-modules-market-bem-angular-2-visual-builder/19597589?s_rank=4&ref=mediatec_software" target="_blank" class="btn btn-outline mb-2">Buy Now <strike>25</strike> $20</a>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="ctf__products__item">
                <div class="ctf__products__item__right">
                    <img src="<%= cdnUrl %>/assets/img/ctf/cat-1.png" />
                    <img src="<%= cdnUrl %>/assets/img/ctf/cat-2.png" />
                    <img src="<%= cdnUrl %>/assets/img/ctf/cat-3.png" />
                </div>
                <div class="ctf__products__item__left">
                    <a href="javascript: void(0);" target="_blank" class="ctf__products__item__link">
                        <img src="<%= cdnUrl %>/assets/img/logos/cws-logo.png" />
                    </a>
                    <div class="ctf__products__item__title">
                        Website Templates
                        <br />
                        for Any Kind of UI
                    </div>
                    <div class="ctf__products__item__descr">
                        Most complete, comprehensive and flexible template, for any business or personal website.
                        More than 30 pre-made, ready to use layouts, this is the perfect HTML
                        solution for any business.
                    </div>
                    <a href="javascript: void(0);" class="btn btn-outline btn-disabled mb-2 mr-2">Soon</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="ctf__products__item">
                <div class="ctf__products__item__right">
                    <img src="<%= cdnUrl %>/assets/img/ctf/cat-1.png" />
                    <img src="<%= cdnUrl %>/assets/img/ctf/cat-2.png" />
                    <img src="<%= cdnUrl %>/assets/img/ctf/cat-3.png" />
                </div>
                <div class="ctf__products__item__left">
                    <a href="http://cleanhtmlplayer.com" target="_blank" class="ctf__products__item__link">
                        <img src="<%= cdnUrl %>/assets/img/logos/cmp-logo.png" />
                    </a>
                    <div class="ctf__products__item__title">
                        Media Player
                        <br />
                        Native HTML5 Audio / Video
                    </div>
                    <div class="ctf__products__item__descr">
                        Clean UI Media Player is a full-featured native Audio/Video player that uses on-the-fly media
                        provider selection to play online video and audio. Playlists and skinning is supported.
                    </div>
                    <a href="http://cleanhtmlplayer.com" target="_blank" class="btn btn-gradient mb-2 mr-2">Details</a>
                    <a href="https://codecanyon.net/item/bundle-clean-html-audio-video-player-w-playlistyoutube/13790217?s_rank=4&ref=mediatec_software" target="_blank" class="btn btn-outline mb-2">Buy Now $27</a>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="ctf__products__item">
                <div class="ctf__products__item__right">
                    <img src="<%= cdnUrl %>/assets/img/ctf/cat-1.png" />
                    <img src="<%= cdnUrl %>/assets/img/ctf/cat-2.png" />
                    <img src="<%= cdnUrl %>/assets/img/ctf/cat-3.png" />
                </div>
                <div class="ctf__products__item__left">
                    <a href="javascript: void(0);" target="_blank" class="ctf__products__item__link">
                        <img src="<%= cdnUrl %>/assets/img/logos/ccs-logo.png" />
                    </a>
                    <div class="ctf__products__item__title">
                        Coming Soon Templates
                        <br />
                        General Use and Multipurpose
                    </div>
                    <div class="ctf__products__item__descr">
                        A versatile Coming Soon Templates, clean and elegant for every creative people, corporates,
                        agency, e-commerce, business, portfolio, etc... Fully responsive and mobile ready.
                    </div>
                    <a href="javascript: void(0);" class="btn btn-outline btn-disabled mb-2 mr-2">Soon</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="ctf__products__item">
                <div class="ctf__products__item__right">
                    <img src="<%= cdnUrl %>/assets/img/ctf/cat-1.png" />
                    <img src="<%= cdnUrl %>/assets/img/ctf/cat-2.png" />
                    <img src="<%= cdnUrl %>/assets/img/ctf/cat-3.png" />
                </div>
                <div class="ctf__products__item__left">
                    <a href="javascript: void(0);" target="_blank" class="ctf__products__item__link">
                        <img src="<%= cdnUrl %>/assets/img/logos/cet-logo.png" />
                    </a>
                    <div class="ctf__products__item__title">
                        Email Templates
                        <br />
                        General Use and Multipurpose
                    </div>
                    <div class="ctf__products__item__descr">
                        Responsive email HTML templates compatible with Apple iPhone, Gmail App, and others.
                        A complete responsive solution for online shops, service providers, mobile app makers, startups, etc...
                    </div>
                    <a href="javascript: void(0);" class="btn btn-outline btn-disabled mb-2 mr-2">Soon</a>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="ctf__products__item">
                <div class="ctf__products__item__right">
                    <img src="<%= cdnUrl %>/assets/img/ctf/cat-1.png" />
                    <img src="<%= cdnUrl %>/assets/img/ctf/cat-2.png" />
                    <img src="<%= cdnUrl %>/assets/img/ctf/cat-3.png" />
                </div>
                <div class="ctf__products__item__left">
                    <a href="javascript: void(0);" target="_blank" class="ctf__products__item__link">
                        <img src="<%= cdnUrl %>/assets/img/logos/vb-logo.png" />
                    </a>
                    <div class="ctf__products__item__title">
                        Visual Builder Tool
                        <br />
                        For Clean UI Products
                    </div>
                    <div class="ctf__products__item__descr">
                        Right from the start Visual Builder is here to help you with ready to use content elements.
                        Literally within minutes, you can build pages and page layouts with drag and drop interface.
                    </div>
                    <a href="javascript: void(0);" class="btn btn-outline btn-disabled mb-2 mr-2">Soon</a>
                </div>
            </div>
        </div>
    </div>
</div>