<div class="ctf__products">
    <p class="ctf__block__descr">
        Browse a comprehensive list of Clean UI products designed to help you develop
        software. We keep developing and innovating, offering a wide range of products and services that help our
        customers and clients achieve their ambitions.
    </p>
    <div class="row">
        <div class="col-lg-12">
            <div class="ctf__products__item ctf__products__item--presentative">
                <div class="ctf__products__item__wrap">
                    <a href="/admin/react/" target="_blank" class="ctf__products__item__link">
                        <img src="/assets/img/logos/cat-logo-react.png" />
                    </a>
                    <div class="ctf__products__item__title text-white">
                        <span class="text-underline">React + Redux</span> Ultimate Admin Theme
                        <br>
                        <span class="text-underline">reusable</span> and <span class="text-underline">super clean</span> code
                    </div>
                    <div class="ctf__products__item__descr">
                        <ul class="ctf__products__item__features">
                            <li class="ctf__products__item__feature">
                                &mdash; Dark&Light Color Schemes / Layout Settings
                            </li>
                            <li class="ctf__products__item__feature">
                                &mdash; Easy & Highly Customizable
                            </li>
                            <li class="ctf__products__item__feature">
                                &mdash; 600+ UI Features / Fully Responsive
                            </li>
                        </ul>
                    </div>
                    <a href="/admin/react/" class="btn btn-white btn-shadow mb-2 mr-2">Details</a>
                    <a href="https://themeforest.net/item/clean-ui-admin-template-react-redux-ant-design-fully-responsive-freebies/21938700?ref=mediatec_software" target="_blank" class="btn btn-white btn-shadow mb-2">Buy Now $27</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="ctf__products__item">
                <div class="ctf__products__item__right">
                    <img src="/assets/img/ctf/cat-1.png" />
                    <img src="/assets/img/ctf/cat-2.png" />
                    <img src="/assets/img/ctf/cat-3.png" />
                </div>
                <div class="ctf__products__item__left">
                    <a href="http://cleanhtmlplayer.com" class="ctf__products__item__link">
                        <img src="/assets/img/logos/cmp-logo.png" />
                    </a>
                    <div class="ctf__products__item__title">
                        Media Player
                        <br />
                        Native HTML5 Audio / Video
                    </div>
                    <div class="ctf__products__item__descr">
                        Clean UI Media Player is a full-featured native Audio/Video player that uses on-the-fly media
                        provider selection to play online video and audio. Playlists and skinning is supported.
                    </div>
                    <a href="http://cleanhtmlplayer.com" class="btn btn-gradient mb-2 mr-2">Details</a>
                    <a href="https://codecanyon.net/item/bundle-clean-html-audio-video-player-w-playlistyoutube/13790217?s_rank=4?ref=mediatec_software" target="_blank" class="btn btn-outline mb-2">Buy Now $27</a>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="ctf__products__item">
                <div class="ctf__products__item__right">
                    <img src="/assets/img/ctf/cat-1.png" />
                    <img src="/assets/img/ctf/cat-2.png" />
                    <img src="/assets/img/ctf/cat-3.png" />
                </div>
                <div class="ctf__products__item__left">
                    <a href="javascript: void(0);" target="_blank" class="ctf__products__item__link">
                        <img src="/assets/img/logos/cws-logo.png" />
                    </a>
                    <div class="ctf__products__item__title">
                        Website Templates
                        <br />
                        for Any Kind of UI
                    </div>
                    <div class="ctf__products__item__descr">
                        Most complete, comprehensive and flexible template, for any business or personal website.
                        More than 30 pre-made, ready to use layouts, this is the perfect HTML
                        solution for any business.
                    </div>
                    <a href="javascript: void(0);" class="btn btn-outline btn-disabled mb-2 mr-2">Soon</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="ctf__products__item">
                <div class="ctf__products__item__right">
                    <img src="/assets/img/ctf/cat-1.png" />
                    <img src="/assets/img/ctf/cat-2.png" />
                    <img src="/assets/img/ctf/cat-3.png" />
                </div>
                <div class="ctf__products__item__left">
                    <a href="javascript: void(0);" target="_blank" class="ctf__products__item__link">
                        <img src="/assets/img/logos/ccs-logo.png" />
                    </a>
                    <div class="ctf__products__item__title">
                        Coming Soon Templates
                        <br />
                        General Use and Multipurpose
                    </div>
                    <div class="ctf__products__item__descr">
                        A versatile Coming Soon Templates, clean and elegant for every creative people, corporates,
                        agency, e-commerce, business, portfolio, etc... Fully responsive and mobile ready.
                    </div>
                    <a href="javascript: void(0);" class="btn btn-outline btn-disabled mb-2 mr-2">Soon</a>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="ctf__products__item">
                <div class="ctf__products__item__right">
                    <img src="/assets/img/ctf/cat-1.png" />
                    <img src="/assets/img/ctf/cat-2.png" />
                    <img src="/assets/img/ctf/cat-3.png" />
                </div>
                <div class="ctf__products__item__left">
                    <a href="javascript: void(0);" target="_blank" class="ctf__products__item__link">
                        <img src="/assets/img/logos/cet-logo.png" />
                    </a>
                    <div class="ctf__products__item__title">
                        Email Templates
                        <br />
                        General Use and Multipurpose
                    </div>
                    <div class="ctf__products__item__descr">
                        Responsive email HTML templates compatible with Apple iPhone, Gmail App, and others.
                        A complete responsive solution for online shops, service providers, mobile app makers, startups, etc...
                    </div>
                    <a href="javascript: void(0);" class="btn btn-outline btn-disabled mb-2 mr-2">Soon</a>
                </div>
            </div>
        </div>
    </div>
</div>