<div class="ctf__block__title scroll__reviews">
    <span>Our Customers Says</span>
</div>
<div class="ctf__feedback">
    <p class="ctf__block__descr">We really are very passionate about our customer services and your satisfaction,
        that's why we take what you say seriously. We want to hear from you with.</p>
    <div class="ctf__feedback__inner">
        <div id="feedback" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#feedback" data-slide-to="0" class="active"></li>
                <li data-target="#feedback" data-slide-to="1"></li>
            </ol>
            <div class="carousel-inner" role="listbox">
                <div class="carousel-item active">
                    <div>
                        <div class="ctf__feedback__title"><strong>Jhon Allen</strong>, Soft Networks GmbH., Germany</div>
                        <img src="/assets/img/ctf/star.png" />
                        <img src="/assets/img/ctf/star.png" />
                        <img src="/assets/img/ctf/star.png" />
                        <img src="/assets/img/ctf/star.png" />
                        <img src="/assets/img/ctf/star.png" />
                        <br />
                        <br />
                        <p>The quality is incredible high and the flexibility is limitless!  Clean UI Admin Template
                            <strong>accelerated development 3x times</strong> and reduced QA issues by 50%.
                            It's probably <strong>saved us $30,000</strong> on this project.</p>
                        <p><strong>Highly recommended to buy!</strong></p>
                    </div>
                </div>
                <div class="carousel-item">
                    <div>
                        <div class="ctf__feedback__title"><strong>Benjamin Kouba</strong>, LEAF9.com, United States</div>
                        <img src="/assets/img/ctf/star.png" />
                        <img src="/assets/img/ctf/star.png" />
                        <img src="/assets/img/ctf/star.png" />
                        <img src="/assets/img/ctf/star.png" />
                        <img src="/assets/img/ctf/star.png" />
                        <br />
                        <br />
                        <p>I've looked at hundreds of bootstrap themes, and this one is by far the best I've come
                            across for our project. <strong>The design is modern, and not cluttered</strong>. The code is clean and
                            easily manageable, and their customer support has been excellent.</p>
                        <p><strong>It's new, but this one is definitely a winner.</strong></p>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#feedback" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#feedback" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</div>