<section class="reviews partition">
    <div class="container-fluid">
        <div class="partition__wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <header class="reviews__header">
                        <div class="row">
                            <div class="col-lg-8 col-md-7">
                                <div class="partition__title">
                                    <h2>Customer reviews</h2>
                                </div>
                                <p class="partition__subTitleText">
                                    We really are very passionate about our customer services and your satisfaction,
                                    that's why we take what you say seriously. We want to hear from you with.
                                </p>
                            </div>
                            <div class="col-lg-4 col-md-5">
                                <div class="reviews__clientsBadgeContainer">
                                    <p class="reviews__clientsBadge">
                                        <b class="reviews__clientsCount">5.000+</b>
                                        Satisfied clients
                                    </p>
                                </div>
                            </div>
                        </div>
                    </header>
                </div>
                <div class="col-lg-4">
                    <blockquote class="reviews__item">
                        <div class="reviews__itemWrapper">
                            <p class="reviews__itemSource">
                                <cite class="reviews__itemAuthor">
                                    Benjamin Kouba,
                                </cite>
                                LEAF9.com, United States
                            </p>
                            <div class="reviews__itemRaiting"></div>
                            <div class="reviews__itemQuote">
                                <p>
                                    I've looked at hundreds of bootstrap themes, and this one is by far the best I've
                                    come across for our project. The design is modern, and not cluttered. The code is
                                    clean and easily manageable, and their customer support has been excellent.
                                </p>
                                <b class="reviews__itemPunch">It's new, but this one is definitely a winner!</b>
                            </div>
                        </div>
                    </blockquote>
                </div>
                <div class="col-lg-4">
                    <blockquote class="reviews__item">
                        <div class="reviews__itemWrapper">
                            <p class="reviews__itemSource">
                                <cite class="reviews__itemAuthor">
                                    Jhon Allen,
                                </cite>
                                Soft Networks, Germany
                            </p>
                            <div class="reviews__itemRaiting">
                            </div>
                            <div class="reviews__itemQuote">
                                <p>
                                    The quality is incredible high and the flexibility is limitless! Clean UI Admin
                                    Template accelerated development 3x times and reduced QA issues by 50%. It's
                                    probably saved us $30,000 on this project.
                                </p>
                                <b class="reviews__itemPunch">Highly recommended to buy!</b>
                            </div>
                        </div>
                    </blockquote>
                </div>
                <div class="col-lg-4">
                    <blockquote class="reviews__item mb-0">
                        <div class="reviews__itemWrapper">
                            <p class="reviews__itemSource">
                                <cite class="reviews__itemAuthor">
                                    Tom N,
                                </cite>
                                Themeforest Buyer, United States
                            </p>
                            <div class="reviews__itemRaiting">
                            </div>
                            <div class="reviews__itemQuote">
                                <p>
                                    I have over 12 years of full stack web programming experience. They did a really
                                    awesome job with this.
                                </p>
                                <p>
                                    The code quality is good - though when looking at anyone's code, you're going to
                                    have to read through it a bit to figure out what's going on.
                                </p>
                                <b class="reviews__itemPunch">Well worthwhile. Great time saver.</b>
                            </div>
                        </div>
                    </blockquote>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>