<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Clean UI Admin Template</title>
    <meta name="description" content="Clean UI Admin Template is the first HTML framework in the world, which uses the concept of modularity. The use of such approach allows you to drastically reduce the time and cost of development. Build the interface from the ready blocks and modules quickly and easily, like Lego! And all this is available now for Angular (version 2 or higher) too." />

    <link rel="apple-touch-icon" sizes="180x180" href="<%= cdnUrl %>/assets/img/icons/cat/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="<%= cdnUrl %>/assets/img/icons/cat/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="<%= cdnUrl %>/assets/img/icons/cat/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="<%= cdnUrl %>/assets/img/icons/cat/manifest.json">
    <link rel="mask-icon" href="<%= cdnUrl %>/assets/img/icons/cat/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="<%= cdnUrl %>/assets/img/icons/cat/favicon.ico">
    <meta name="msapplication-config" content="<%= cdnUrl %>/assets/img/icons/cat/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

    <link href="https://fonts.googleapis.com/css?family=Lato:400,300,700,900" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="<%= cdnUrl %>/assets/vendors/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="<%= cdnUrl %>/assets/vendors/font-linearicons/style.css">
    <link rel="stylesheet" type="text/css" href="<%= cdnUrl %>/assets/css/main.css">
    <script src="<%= cdnUrl %>/assets/vendors/jquery/dist/jquery.min.js"></script>
    <script src="<%= cdnUrl %>/assets/vendors/tether/dist/js/tether.min.js"></script>
    <script src="<%= cdnUrl %>/assets/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="<%= cdnUrl %>/assets/vendors/jquery-mousewheel/jquery.mousewheel.min.js"></script>
    <script src="<%= cdnUrl %>/assets/vendors/pathjs/path.min.js"></script>
    <script src="<%= cdnUrl %>/assets/vendors/jquery.scrollTo/jquery.scrollTo.min.js"></script>
    <script src="<%= cdnUrl %>/assets/js/common.js"></script>
</head>
<body>


<nav class="ctf__menu ctf__menu--light">
    <div class="container">
        <div class="ctf__logo">
            <a href="/">
                <img src="<%= cdnUrl %>/assets/img/logos/cat-logo.png" alt="Clean UI Admin Template" />
            </a>
        </div>
        <div class="ctf__logo ctf__logo--light">
            <a href="/">
                <img src="<%= cdnUrl %>/assets/img/logos/cat-logo-light.png" alt="Clean UI Admin Template" />
            </a>
        </div>
        <ul class="ctf__links list-unstyled list-inline">
            <li class="list-inline-item">
                <a class="ctf__links__link ctf__link--underlined" href="http://cleanuitemplate.com/" onclick="yaCounter43604639.reachGoal('vis_hom');">Home</a>
            </li>
            <li class="list-inline-item">
                <a class="ctf__links__link ctf__link--underlined ctf__link--underlined--active" href="#/information">Information</a>
            </li>
            <li class="list-inline-item">
                <a class="ctf__links__link ctf__link--underlined" href="#/showcase">Showcase</a>
            </li>
            <li class="list-inline-item">
                <a class="ctf__links__link ctf__link--underlined" href="#/modules-market">Modules Market</a>
                <span class="ctf__soon">Soon</span>
            </li>
            <li class="list-inline-item">
                <a class="ctf__links__link ctf__link--underlined" href="#/hire-us">Hire Us</a>
            </li>
            <li class="list-inline-item transformed-show">
                <a class="ctf__links__link ctf__links__link--btn btn" target="_blank" onclick="yaCounter43604639.reachGoal('buy_hea');" href="https://themeforest.net/item/clean-ui-admin-template-modular-trendy-design-modules-market-bem-angular-2-visual-builder/19597589?s_rank=4&ref=mediatec_software">Buy Now $25</a>
            </li>
        </ul>
    </div>
</nav>

<div class="ctf__promo ctf__promo--dark">
    <div class="container">
        <div class="ctf__promo__info">
            <a onclick="yaCounter43604639.reachGoal('buy_pro');" href="https://themeforest.net/item/clean-ui-admin-template-modular-trendy-design-modules-market-bem-angular-2-visual-builder/19597589?s_rank=4&ref=mediatec_software" target="_blank" class="btn btn-lg btn-gradient btn-shadow">Buy Now $25</a>
            <h1>
                <span class="ctf__promo__info__bold ctf__actions__init-word-changer "><span>Great</span><br /> Admin Template</span>
                For All Your Needs
            </h1>
            <p class="ctf__promo__info__descr">
                Clean UI Admin Template is the first HTML framework in the world, which uses the concept of modularity. The use of such
                approach allows you to drastically reduce the time and cost of development. Build the interface from
                the ready blocks and modules quickly and easily, like Lego!
                <br />And all this is available now for Angular (version 2 or higher) too.
            </p>
            <p class="ctf__promo__info__descr">Enjoy Clean UI Admin Template now!</p>
        </div>
    </div>
    <div class="ctf__promo__video">
        <video loop autoplay preload="auto">
            <source src="<%= cdnUrl %>/assets/img/videos/cat-promo.mp4" />
        </video>
    </div>
    <div class="ctf__promo__images">
        <div class="container">
            <div class="ctf__promo__images__inner">
                <img src="<%= cdnUrl %>/assets/img/ctf/cat-3.png">
                <img src="<%= cdnUrl %>/assets/img/ctf/cat-2.png">
                <img src="<%= cdnUrl %>/assets/img/ctf/cat-1.png">
            </div>
        </div>
    </div>
</div>

<div class="container">

//= ../../templates/info2.html

<div class="ctf__features">
    <div class="row">
        <div class="col-lg-6 col-xl-3">
            <div class="ctf__features__item">
                <i class="ctf__features__icon lnr lnr-diamond"><!-- --></i>
                <span class="ctf__features__title">
                    6 Color Schemes
                </span>
                <div class="ctf__features__descr">
                    Dark, Light, Blue, Green, Red, Orange
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-xl-3">
            <div class="ctf__features__item">
                <i class="ctf__features__icon lnr lnr-leaf"><!-- --></i>
                <span class="ctf__features__title">
                    Clean Code
                </span>
                <div class="ctf__features__descr">
                    By professionals for professionals
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-xl-3">
            <div class="ctf__features__item">
                <i class="ctf__features__icon lnr lnr-thumbs-up"><!-- --></i>
                <span class="ctf__features__title">
                    Save $22
                </span>
                <div class="ctf__features__descr">
                    Includes two paid licenses of premuim products
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-xl-3">
            <div class="ctf__features__item">
                <i class="ctf__features__icon lnr lnr-rocket"><!-- --></i>
                <span class="ctf__features__title">
                    Easy Customizable
                </span>
                <div class="ctf__features__descr">
                    Well documented and isolated framework code
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-xl-3">
            <div class="ctf__features__item">
                <i class="ctf__features__icon lnr lnr-magic-wand"><!-- --></i>
                <span class="ctf__features__title">
                    Prebuilt App Pages
                </span>
                <div class="ctf__features__descr">
                    Hundreds elements and components
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-xl-3">
            <div class="ctf__features__item">
                <i class="ctf__features__icon lnr lnr-bookmark"><!-- --></i>
                <span class="ctf__features__title">
                    Html and Angular
                </span>
                <div class="ctf__features__descr">
                    Static (Html) and Angular versions
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-xl-3">
            <div class="ctf__features__item">
                <i class="ctf__features__icon lnr lnr-users"><!-- --></i>
                <span class="ctf__features__title">
                    Premium Support
                </span>
                <div class="ctf__features__descr">
                    Response time can be up to 1 business day
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-xl-3">
            <div class="ctf__features__item">
                <i class="ctf__features__icon lnr lnr-graduation-hat"><!-- --></i>
                <span class="ctf__features__title">
                    Premium Quality
                </span>
                <div class="ctf__features__descr">
                    Over 10 years dev experience
                </div>
            </div>
        </div>
    </div>
</div>

<div class="ctf__block__title scroll__showcase">
    <span>Showcase</span>
</div>
<div class="ctf__layouts">
    <div class="ctf__block__descr">
        <p>All previews are Angular 2 based. The downloadable package includes two versions - static HTML pages
            (all pages available as standalone HTML files) and prebuilt Angular 2 kit (components, structure, etc).
            Feel free to combine theme settings in Main Menu &rarr; Theme Settings.</p>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <div class="ctf__layouts__item">
                <a onclick="yaCounter43604639.reachGoal('ver_men_vis');" href="http://admin.cleanuitemplate.com/livepreview/v/vertical-menu-visible.html" target="_blank" class="ctf__layouts__item__inner">
                    <img class="img-fluid" src="<%= cdnUrl %>/assets/img/screens/cat-2.jpg" />
                </a>
                <a onclick="yaCounter43604639.reachGoal('ver_men_vis');" href="http://admin.cleanuitemplate.com/livepreview/v/vertical-menu-visible.html" target="_blank" class="ctf__links__link ctf__link--underlined">Vertical Menu Visible</a>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="ctf__layouts__item">
                <a onclick="yaCounter43604639.reachGoal('ver_men_def');" href="http://admin.cleanuitemplate.com/livepreview/v/vertical-menu.html" target="_blank" class="ctf__layouts__item__inner">
                    <img class="img-fluid" src="<%= cdnUrl %>/assets/img/screens/cat-1.jpg" />
                </a>
                <a onclick="yaCounter43604639.reachGoal('ver_men_def');" href="http://admin.cleanuitemplate.com/livepreview/v/vertical-menu.html" target="_blank" class="ctf__links__link ctf__link--underlined">Vertical Menu (Default)</a>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="ctf__layouts__item">
                <a onclick="yaCounter43604639.reachGoal('ver_men_com');" href="http://admin.cleanuitemplate.com/livepreview/v/vertical-menu-compact.html" target="_blank" class="ctf__layouts__item__inner">
                    <img class="img-fluid" src="<%= cdnUrl %>/assets/img/screens/cat-3.jpg" />
                </a>
                <a onclick="yaCounter43604639.reachGoal('ver_men_com');" href="http://admin.cleanuitemplate.com/livepreview/v/vertical-menu-compact.html" target="_blank" class="ctf__links__link ctf__link--underlined">Vertical Menu Compact</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <div class="ctf__layouts__item">
                <a onclick="yaCounter43604639.reachGoal('sup_cle_mod');" href="http://admin.cleanuitemplate.com/livepreview/v/superclean-boxshadow.html" target="_blank" class="ctf__layouts__item__inner">
                    <img class="img-fluid" src="<%= cdnUrl %>/assets/img/screens/cat-4.jpg" />
                </a>
                <a onclick="yaCounter43604639.reachGoal('sup_cle_mod');" href="http://admin.cleanuitemplate.com/livepreview/v/superclean-boxshadow.html" target="_blank" class="ctf__links__link ctf__link--underlined">Super Clean Mode + Box Shadow</a>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="ctf__layouts__item">
                <a onclick="yaCounter43604639.reachGoal('hor_men');" href="http://admin.cleanuitemplate.com/livepreview/h/horizontal-menu.html" target="_blank" class="ctf__layouts__item__inner">
                    <img class="img-fluid" src="<%= cdnUrl %>/assets/img/screens/cat-7.jpg" />
                </a>
                <a onclick="yaCounter43604639.reachGoal('hor_men');" href="http://admin.cleanuitemplate.com/livepreview/h/horizontal-menu.html" target="_blank" class="ctf__links__link ctf__link--underlined">Horizontal Menu</a>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="ctf__layouts__item">
                <a onclick="yaCounter43604639.reachGoal('eco_ver');" href="http://admin.cleanuitemplate.com/livepreview/v/ecommerce.html#/ecommerce/products-catalog" target="_blank" class="ctf__layouts__item__inner">
                    <img class="img-fluid" src="<%= cdnUrl %>/assets/img/screens/cat-5.jpg" />
                </a>
                <a onclick="yaCounter43604639.reachGoal('eco_ver');" href="http://admin.cleanuitemplate.com/livepreview/v/ecommerce.html#/ecommerce/products-catalog" target="_blank" class="ctf__links__link ctf__link--underlined">Ecommerce Version</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <div class="ctf__layouts__item">
                <a  onclick="yaCounter43604639.reachGoal('ver_men_box');"href="http://admin.cleanuitemplate.com/livepreview/v/vertical-menu-boxed.html" target="_blank" class="ctf__layouts__item__inner">
                    <img class="img-fluid" src="<%= cdnUrl %>/assets/img/screens/cat-6.jpg" />
                </a>
                <a onclick="yaCounter43604639.reachGoal('ver_men_box');" href="http://admin.cleanuitemplate.com/livepreview/v/vertical-menu-boxed.html" target="_blank" class="ctf__links__link ctf__link--underlined">Vertical Menu Boxed</a>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="ctf__layouts__item">
                <a onclick="yaCounter43604639.reachGoal('hor_men_box');" href="http://admin.cleanuitemplate.com/livepreview/h/horizontal-menu-boxed.html" target="_blank" class="ctf__layouts__item__inner">
                    <img class="img-fluid" src="<%= cdnUrl %>/assets/img/screens/cat-8.jpg" />
                </a>
                <a onclick="yaCounter43604639.reachGoal('hor_men_box');" href="http://admin.cleanuitemplate.com/livepreview/h/horizontal-menu-boxed.html" target="_blank" class="ctf__links__link ctf__link--underlined">Horizontal Menu Boxed</a>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="ctf__layouts__item">
                <a onclick="yaCounter43604639.reachGoal('lan');" href="http://admin.cleanuitemplate.com/livepreview/landing/" target="_blank" class="ctf__layouts__item__inner">
                    <img class="img-fluid" src="<%= cdnUrl %>/assets/img/screens/cat-9.jpg" />
                </a>
                <a onclick="yaCounter43604639.reachGoal('lan');" href="http://admin.cleanuitemplate.com/livepreview/landing/" target="_blank" class="ctf__links__link ctf__link--underlined">Website Template (Landing)</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <div class="ctf__layouts__item">
                <div class="ctf__layouts__item__inner">
                    <div   class="ctf__layouts__item__total">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="ctf__layouts__item">
                <div class="ctf__layouts__item__inner">
                    <div   class="ctf__layouts__item__total">
                        <strong>84 theme variations</strong>
                        <span></span>
                        6 colors schemes * 2 menu positions * 7 theme options
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="ctf__layouts__item">
                <div class="ctf__layouts__item__inner">
                    <div   class="ctf__layouts__item__total">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="ctf__block__title ctf__block__title--cta">
    <span>
        <a onclick="yaCounter43604639.reachGoal('buy_cal_act');" href="https://themeforest.net/item/clean-ui-admin-template-modular-trendy-design-modules-market-bem-angular-2-visual-builder/19597589?s_rank=4&ref=mediatec_software" class="btn btn-gradient btn-shadow ctf__cta-button" target="_blank">
            Buy Now $25
            <div>6 Month Support and <br/>Landing Page Included</div>
        </a>
    </span>
</div>

//= ../../templates/modules-market.html

//= ../../templates/hire-us.html

//= ../../templates/reviews.html

<div class="ctf__block__title scroll__products">
    <span>Other Products</span>
</div>
//= ../../templates/products.html

</div>

//= ../../templates/footer.html

<%= ymADMIN %>
<%= gaADMIN %>

</body>
</html>