@import 'mixins';


.ctf {

    ////////////////////////////////////////////////////
    // MENU


    &__menu {

    	&--module {
    		height: auto;
    		margin-bottom: 0;
    		.ctf {
    			&__menu-wrapper {
    				padding-bottom: rem(35);
    				border-bottom: 1px solid rgba($black, 0.1);
    				@media (max-width: $sm-max-width) {
    					padding-bottom: 0;
    				} 
    			}

    			&__logo {
    				@media (max-width: $sm-max-width) {
    					float: none;
    					text-align: center;
    				}  
    			}

    			&__links__link {
    				@media (max-width: $md-max-width) {
    					margin-left: rem(9);
    				}   
    			}
    		}
    	}

    	&--transformed {
    		.ctf {
    			&__menu-wrapper {
    				padding-bottom: 0;
    				border-bottom: none;
    			}
    		}
    	}
    }

    ////////////////////////////////////////////////////
    // GO-BACK

    &__go-back {

    	&__link {
            display: inline-block;
            text-transform: uppercase;
            font-weight: 400;
            font-size: rem(14);
            color: $black; 
            border-bottom: 1px solid rgba($black, 0.1); 
    	}
    }

    ////////////////////////////////////////////////////
    //MODULE PROMO

    &__promo__info {
    	    margin-top: 0;
            padding-bottom: rem(40);
            border-bottom: 1px solid rgba($black, 0.1);
            margin-bottom: rem(50);
    	&__head {
    		text-transform: uppercase;
    		font-size: rem(48);
    		line-height: rem(55);
    		font-weight: 700;
    		color: $blue-dark;

    		span {
    			text-decoration: underline;
    		}
    	}

    	&__name {
    		text-decoration: underline;
    	}

    	&__subtext {
    		font-size: rem(40);
    		line-height: rem(44);
    		text-transform: uppercase;
    		margin-bottom: rem(35);
    	}

    	&__text {
    		color: $text;
    		font-size: rem(18);
    		line-height: rem(28);
    		font-weight: 400;
    	}
    }

    ////////////////////////////////////////////////////
    //MODULE BUTTONS

    &__module-btns {
        margin-bottom: rem(50);

    	&__btn {
            margin-right: rem(18);  
            margin-bottom: rem(19); 
    	}
    }

    ////////////////////////////////////////////////////
    //MODULES MARKET

    &__other-modules {
    	&__title {
    		color: $blue-dark;
    		font-size: rem(24);
    		line-height: rem(55);
    		font-weight: 900;
    		text-transform: uppercase;
    		position: relative;
    		margin-bottom: rem(42);
            vertical-align: middle;

            &:after {
                content: '';
                position: absolute;
                display: block;
                width: 100%;
                height: 1px;
                background-color: rgba($black, 0.1);
                top: calc(50% - 1px);
            }

    		span {
    			position: relative;
                z-index: 50;
                background-color: $gray;
                padding-right: rem(30);
    		}
    	}

    	&__market {
    		padding-bottom: rem(40);
    		border-bottom: 1px solid rgba($black, 0.1);
    		margin-bottom: rem(66);
    	}
    }

    &__modules-cover {
    	padding-top: rem(100);
    	text-align: center;

    	@media (max-width: $md-max-width) {
    		padding-top: 0;
    		padding-bottom: rem(40);
    	}

    	img {
    		width: 609px;
            
    		@media (max-width: $xl-max-width) {
    			width: 100%;
    		}
    	}
    }
}