<nav class="ctf__menu ctf__menu--module">
    <div class="container clearfix">
        <div class="ctf__menu-wrapper clearfix">
            <div class="ctf__logo">
                <a href="http://cleanuitemplate.com/">
                    <img src="<%= cdnUrl %>/assets/img/logos/ctf-logo.png" alt="Clean UI Templates Family" />
                </a>
            </div>
            <div class="ctf__logo ctf__logo--light">
                <a href="http://cleanuitemplate.com/">
                    <img src="<%= cdnUrl %>/assets/img/logos/ctf-logo-light.png" alt="Clean UI Templates Family" />
                </a>
            </div>
            <ul class="ctf__links list-unstyled list-inline">
                <li class="list-inline-item">
                    <a class="ctf__links__link ctf__link--underlined" href="http://cleanuitemplate.com/">Home</a>
                </li>
                <li class="list-inline-item">
                    <a class="ctf__links__link ctf__link--underlined" href="http://admin.cleanuitemplate.com/">Admin Template</a>
                </li>
                <li class="list-inline-item">
                    <a class="ctf__links__link ctf__link--underlined ctf__link--underlined--active" href="http://modules.cleanuitemplate.com/">Modules Market</a>
                    <span class="ctf__soon">HOT</span>
                </li>
                <li class="list-inline-item">
                    <a class="ctf__links__link ctf__link--underlined" href="http://admin.cleanuitemplate.com/#/hire-us">Hire Us</a>
                </li>
            </ul>
        </div>
    </div>
</nav>