<div class="ctf__products">
    <p class="ctf__block__descr">Browse a comprehensive list of Clean UI products designed to help you develop
        software. We keep developing and innovating, offering a wide range of products and services that help our
        customers and clients achieve their ambitions.</p>
        <div class="row">
            <div class="col-lg-6">
                <div class="ctf__products__item">
                    <div class="ctf__products__item__right">
                        <img src="<%= cdnUrl %>/assets/img/ctf/cat-1.png" />
                        <img src="<%= cdnUrl %>/assets/img/ctf/cat-2.png" />
                        <img src="<%= cdnUrl %>/assets/img/ctf/cat-3.png" />
                    </div>
                    <div class="ctf__products__item__left">
                        <div class="ctf__products__item__title">
                            Live Search
                            <br />
                            Search anywhere in your project
                        </div>
                        <div class="ctf__products__item__descr">
                            Ultimate multipurpose Admin Template with 7 layouts total, over 1000 Pages,
                            50+ integrated plugins & 500+ UI components, 6 color schemes, mobile ready.
                        </div>
                        <a class="ctf__products__btn btn btn-gradient" href="livesearch.html">Details</a>
                        <a class="ctf__products__btn btn btn-gradient" href="javascript: void(0);">Buy now for $2.99</a>
                        <a class="ctf__products__btn btn btn-outline" href="javascript: void(0);">Installation instructions</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="ctf__products__item">
                    <div class="ctf__products__item__right">
                        <img src="<%= cdnUrl %>/assets/img/ctf/cat-1.png" />
                        <img src="<%= cdnUrl %>/assets/img/ctf/cat-2.png" />
                        <img src="<%= cdnUrl %>/assets/img/ctf/cat-3.png" />
                    </div>
                    <div class="ctf__products__item__left">
                        <div class="ctf__products__item__title">
                            YouTube
                            <br />
                            Make Your Own Video Service
                        </div>
                        <div class="ctf__products__item__descr">
                            Most complete, comprehensive and flexible template, for any business or personal website.
                            More than 30 pre-made, ready to use layouts, this is the perfect HTML
                            solution for any business.
                        </div>
                        <a class="ctf__products__btn btn btn-gradient" href="youtube.html">Details</a>
                        <a class="ctf__products__btn btn btn-gradient" href="javascript: void(0);">Buy now for $2.99</a>
                        <a class="ctf__products__btn btn btn-outline" href="javascript: void(0);">Installation instructions</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="ctf__products__item">
                    <div class="ctf__products__item__right">
                        <img src="<%= cdnUrl %>/assets/img/ctf/cat-1.png" />
                        <img src="<%= cdnUrl %>/assets/img/ctf/cat-2.png" />
                        <img src="<%= cdnUrl %>/assets/img/ctf/cat-3.png" />
                    </div>
                    <div class="ctf__products__item__left">
                        <div class="ctf__products__item__title">
                            Material Design
                            <br />
                            Google UI Guidelines
                        </div>
                        <div class="ctf__products__item__descr">
                            Most complete, comprehensive and flexible template, for any business or personal website.
                            More than 30 pre-made, ready to use layouts, this is the perfect HTML
                            solution for any business.
                        </div>
                        <a class="ctf__products__btn btn btn-gradient" href="material-design.html">Details</a>
                        <a class="ctf__products__btn btn btn-gradient" href="javascript: void(0);">Buy now for $2.99</a>
                        <a class="ctf__products__btn btn btn-outline" href="javascript: void(0);">Installation instructions</a>
                    </div>
                </div>
            </div>
        </div>
    </div>